---
---

<div class="comments">
  <h2 class="comments-title">Comments</h2>
  <div class="giscus"></div>
</div>

<script
  src="https://giscus.app/client.js"
  data-repo="shin01221/blog"
  data-repo-id="R_kgDOR8fq_w"
  data-category="General"
  data-category-id="DIC_kwDOR8fq_84C_A-L"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>
