---
const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <div class="footer-inner">
    <ul class="footer-links">
      <li><a href="/blog/">Home</a></li>
      <li><a href="/blog/about">About</a></li>
      <li><a href="https://github.com/shin01221" target="_blank" rel="noopener noreferrer">GitHub</a></li>
      <li><a href="https://x.com/mohamed_med0090" target="_blank" rel="noopener noreferrer">X</a></li>
    </ul>
  </div>
</footer>
