---
interface Props {
  tag: string;
  count?: number;
  large?: boolean;
}

const { tag, count, large = false } = Astro.props;
---

<a href={`/tags/${tag}/`} class="tag">
  #{tag}
  {count !== undefined && <span style="opacity: 0.6; margin-left: 2px;">({count})</span>}
</a>
